{% extends 'base.html' %}
{% load static %}
{% block content %}

<body class="{{ background_class }}">
    <header>
        <nav class="navbar navbar-expand-sm mb-3 home-nav">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between col" id="navbarResponsive">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'showtrips' %}">Destinations</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'customers' %}">Customers</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <br>
    <div class="container destination-bg col-9 pt-2 mt-5">
        <div class="row">
            <h1 class="text-center">{{ context.area }}</h1>
        </div>
        <div class="row">
            <h5 class="text-center">{{ context.title }}</h5>
        </div>
        <div class="">
            <div class="row d-flex align-items-center">
                <div class="col">
                    <img class="float-end" src="{{ context.image1.url }} " height="142"/>
                </div>
                <div class="col">
                    <img class="float-end" src=" {{ context.image2.url }} " height="142"/>
                </div>
                <div class="col">
                    <img class="" src=" {{ context.image3.url }} " height="142"/>
                </div>
            </div>
            <div class="row trip-description p-2">
                <div class="col">
                    <p>{{ context.description }}</p>
                </div>
            </div>
        </div>
    </div>
        
    <footer class="d-flex justify-content-center home-footer">
        <div class="footer p-2">
            <div class="row align-items-center">
                Copyright ©BreezeTravel 2023
            </div>
        </div>
    </footer>
</body>
{% endblock %}