@charset "UTF-8";

:root {
  --one: #04ADBF;
  /* rgba(4,173,191,1) */
  --two: #04BFBF;
  /* rgba(4,191,191,1) */
  --three: #025959;
  /* rgba(2,89,89,1) */
  --four: #A0A603;
  --five: #F2E0C9;
  --white: #ffffff;
  --text: #333333;
}

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
*/

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  color: #04ADBF;
}

h5, h6 {
  font-family: 'Nunito', sans-serif;
  color: #333333;
}

.breeze-color {
  color: #FFFFFF;
}

body {
  background-image: url(../../../media/photos/great-pyramids-egypt.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  font-family: 'Nunito', sans-serif;
  color: #333333;
}

.navbar a {
  color: var(--white);
  transition: color 0.7s ease;
}

.navbar a:hover {
  color: #04BFBF;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: rgba(4,173,191,0.1);
  z-index:2;
  }

a {
  color: var(--white);
  text-decoration: none;
  background-color: transparent;
  transition: color 0.7s ease;
}

  a:hover {
    color: #04BFBF;
  }

.trips-bg {
  background-color: rgba(4,191,191,0.7);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--six);
    color: var(--white);
    background-color: rgba(4,173,191,0.2);
    text-align: center;
    height: 45px;
}

footer a {
    color: var(--five);
    text-decoration: none;
}

.btn-primary {
    background-color: var(--two);
    transition: background-color 0.7s ease;
    border: none;
}

.btn-primary:hover {
    background-color: var(--three);
    border: none;
}