{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- Masthead-->
        <header class="masthead">
            <nav class="navbar navbar-expand-sm mb-3">
                <div class="container-fluid">
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between col" id="navbarResponsive">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'index' %}">Home</a></li>
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'showtrips' %}">Destinations</a></li>
                            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'customers' %}">Customers</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container">
                <div class="masthead-subheading">Welcome to TripMe Travel!</div>
                <div class="masthead-heading text-uppercase">We make the world a little smaller</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'showtrips' %}">Tell Me More</a>
            </div>
            <br><br>
        </header>
{% endblock %}
